
<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li>
                <a routerLink="/" class="navbar-brand">Covid-19</a>
            </li>
        </ul>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="collapsed = !this.collapsed"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarSupportedContent" [ngClass]="{ collapse: collapsed, 'navbar-collapse': true }">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink='/'>India <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='State'>States</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='State'>Districts</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
