.c:hover{
    background-color:#C5E3EC;
 }
 .a:hover{
    background-color:rgb(243, 217, 217);
 }
 .d:hover{
    background-color:rgb(161, 157, 157);
 }
 .r:hover{
    background-color:rgb(215, 245, 215);
 }

 table {
   width: 100%;
 }

 th.mat-sort-header-sorted {
   color: white;
 }

 .mat-radio-button ~ .mat-radio-button {
   margin-left: 16px;
 }

 .example-radio-group {
   display: flex;
   flex-direction: column;
   margin: 16px 0;
 }